---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="/" class="site-brand">Max Marzolf</a>
        <nav>
          <a href="/blog">notebooks</a>
        </nav>
      </div>
    </header>
    <div class="container">
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>